<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Персональный сайт - Маховиков Лев</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- User defined CSS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div class="parallax-container">
			<div class="parallax"><img class="responsive-img" src="./img/parallax-image.png" alt=""></div>
			<div class="navbar-fixed">
				<nav class="nav-background">
					<div class="nav-wrapper">
						<a href="#" data-target="mobile-demo" class="sidenav-trigger">
							<i class="material-icons">menu</i>
						</a>
						<ul class="table-of-contents blueish-text hide-on-med-and-down">
							<li><a href="#home">Главная</a></li>
							<li><a href="#about">Обо мне</a></li>
							<li><a href="#education">Образование</a></li>
							<li><a href="#portfolio">Портфолио</a></li>
							<li><a href="#contact">Обратная связь</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<ul class="sidenav" id="mobile-demo">
				<li><a class="sidenav-close blueish-text" href="#home"><i class="material-icons left">home</i>Главная</a></li>
				<li><a class="sidenav-close" href="#about"><i class="material-icons left">person</i>Обо мне</a></li>
				<li><a class="sidenav-close" href="#education"><i class="material-icons left">school</i>Образование</a></li>
				<li><a class="sidenav-close" href="#portfolio"><i class="material-icons left">work</i>Портфолио</a></li>
				<li><a class="sidenav-close" href="#contact"><i class="material-icons left">feedback</i>Обратная связь</a></li>
			</ul>
			<main class="col s12 body">
				<section id="home" class="section valign-wrapper scrollspy">
						<div class="section hoverable">
							<div class="container blueish-text">
								<h1 class="header">Маховиков Лев</h1>
								<p class="flow-text">Фронтенд-разработчик</p>
							</div>
						</div>
				</section>
				
				<section id="about" class="section valign-wrapper scrollspy">
					<div class="section hoverable">
						<div class="container blueish-text">
							<h2 class="header">Обо мне</h2>
							<p class="flow-text">Занимался репетиторством по математике и информатике. Программировал на Python и Delphi, проходил курсы по web-программированию и выполнял работы на фриланс-сайтах.</p>
							<p class="flow-text">Стремлюсь начать карьеру в IT и заниматься web-разработкой. Ищу работу на позицию младшего фронтенд разработчика.</p>
						</div>
					</div>
				</section>
				
				<section id="education" class="section scrollspy">
					<div class="section">
						<div class="container blueish-text">
							<h2 class="header center">Образование</h2>
							<article class="row card-panel valign-wrapper hoverable">
								<div class="col s12 m9 l9 xl10 card-content left">
									<h3 class="flow-text hide-on-small-only">Самарский государственный экономический университет</h3>
									<h3 class="flow-text hide-on-med-and-up">СГЭУ</h3>
									<p>2025</p>
									<p>Аспирантура</p> 
								</div>
								<div class="col hide-on-small-only m3 l3 xl2 card-image right">
									<img class="responsive-img" src="img/sseu_logo.png" alt="Логотип СГЭУ">
								</div>
							</article>
							
							<article class="row card-panel valign-wrapper hoverable">
								<div class="col s12 m9 l9 xl10 card-content left">
									<h3 class="flow-text hide-on-small-only">Самарский Национальный Исследовательский Университет Имени Академика С.П. Королёва</h3>
									<h3 class="flow-text hide-on-med-and-up">Самарский Университет</h3>
									<p>2021</p>
									<p>Механико-математический факультет<br>
									"Организация и технология защиты информации" (Магистратура)</p>
								</div>
								<div class="col hide-on-small-only m3 l3 xl2 card-image right">
									<img class="responsive-img" src="img/ssau_logo.png" alt="Логотип Самарского Университета">
								</div>
							</article>
							
							<article class="row card-panel valign-wrapper hoverable">
								<div class="col s12 m9 l9 xl10 card-content left">
									<h3 class="flow-text hide-on-small-only">Самарский государственный экономический университет</h3>
									<h3 class="flow-text hide-on-med-and-up">СГЭУ</h3>
									<p>2020</p>
									<p>Факультет магистратуры<br>
									"Прикладная информатика" (Магистратура)</p>
								</div>
								<div class="col hide-on-small-only m3 l3 xl2 card-image right">
									<img class="responsive-img" src="img/sseu_logo.png" alt="Логотип СГЭУ">
								</div>
							</article>
							
							<article class="row card-panel valign-wrapper hoverable">
								<div class="col s12 m9 l9 xl10 card-content left">
									<h3 class="flow-text hide-on-small-only">Самарский Национальный Исследовательский Университет Имени Академика С.П. Королёва</h3>
									<h3 class="flow-text hide-on-med-and-up">Самарский Университет</h3>
									<p>2018</p>
									<p>Механико-математический факультет<br>
									"Организация и технология защиты информации" (Бакалавриат)</p>
								</div>
								<div class="col hide-on-small-only m3 l3 xl2 card-image right">
									<img class="responsive-img" src="img/ssau_logo.png" alt="Логотип Самарского Университета">
								</div>
							</article>
						</div>
					</div>
				</section>
				
				<section id="portfolio" class="section scrollspy">
					<div class="container blueish-text">
						<div class="section">
							<h2 class="header center">Портфолио</h2>
							<ul class="tabs col s12 center">
								<li class="tab"><a class="active" href="#portfolio-web">Web-разработка</a></li>
								<li class="tab"><a href="#portfolio-miscellaneous">Python / Delphi</a></li>
								<li class="tab"><a href="#portfolio-courses">Курсы по Web-разработке</a></li>
							</ul>
						</div>
						
						<article id="portfolio-web" class="row portfolio__page">
							<h3 class="visually-hidden">Работы по web-разработке</h3>
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
									<img class="activator" src="img/portfolio-web-5.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>САЙТ-ПОРТФОРЛИО v2.0</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Открыть веб-страницу" href="#">
											<i class="material-icons">open_in_new</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="CSS-файл" data-position="top" href="/css/main.css" target="_blank">
											<i class="material-icons">css</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="JS-файл" href="/js/main.js" target="_blank">
											<i class="material-icons">javascript</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>САЙТ-ПОРТФОРЛИО v2.0</p>
											<i class="material-icons">close</i>
										</div>
										<p>Настоящий сайт-портфолио, созданный с использованием фреймфорка Materialize CSS по завершении курса "30 элементов сайта на примере Materialize CSS".</p>
									</div>
								</div>
							</article>
							
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
									<img class="activator" src="img/portfolio-web-4.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>САЙТ-ПОРТФОРЛИО v1.0</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Открыть веб-страницу" href="http://m1ev.pythonanywhere.com/projects/portfolio_site_old/index.html" target="_blank">
											<i class="material-icons">open_in_new</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="CSS-файл" data-position="top" href="https://m1ev.pythonanywhere.com/projects/portfolio_site_old/css/main.css" target="_blank">
											<i class="material-icons">css</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="JS-файл" href="https://m1ev.pythonanywhere.com/projects/portfolio_site_old/js/main.js" target="_blank">
											<i class="material-icons">javascript</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>САЙТ-ПОРТФОРЛИО v1.0</p>
											<i class="material-icons">close</i>
										</div>
										<p>Первая версия настоящего сайта-портфолио в чёрно-белом дизайне.</p>
									</div>
								</div>
							</article>
							
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-web-3.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
								  <div class="card-title">
										<h4>REDLAKE FIGMA DESIGN</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
								  <div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Открыть веб-страницу" href="http://m1ev.pythonanywhere.com/projects/redlake/index.html" target="_blank">
											<i class="material-icons">open_in_new</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="CSS-файл" data-position="top" href="https://m1ev.pythonanywhere.com/projects/redlake/css/main.css" target="_blank">
											<i class="material-icons">css</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="JS-файл" href="https://m1ev.pythonanywhere.com/projects/redlake/js/main.js" target="_blank">
											<i class="material-icons">javascript</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>REDLAKE FIGMA DESIGN</p>
											<i class="material-icons">close</i>
										</div>
										<p>Одна из выполненных работ с фриланс-сайта по вёрстке лендинга из макета Figma.</p>
									</div>
								</div>
							</article>
							
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-web-2.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>САЙТ НА WORDPRESS, ВЕРСТКА САЙТА И ПЕРЕНОС НА CMS</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Открыть веб-страницу" href="http://m1ev.pythonanywhere.com/projects/marsy/index.html" target="_blank">
											<i class="material-icons">open_in_new</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="CSS файл" data-position="top" href="https://m1ev.pythonanywhere.com/projects/marsy/css/style.css" target="_blank">
											<i class="material-icons">css</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="JS файл" href="https://m1ev.pythonanywhere.com/projects/marsy/js/main.js" target="_blank">
											<i class="material-icons">javascript</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Сертификат о завершении" data-position="top" href="https://stepik.org/cert/2380937" target="_blank">
											<i class="material-icons">school</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>САЙТ НА WORDPRESS, ВЕРСТКА САЙТА И ПЕРЕНОС НА CMS</p>
											<i class="material-icons">close</i>
										</div>
										<p>Выполненное проектное задание с курса по верстке сайта с адаптивным дизайном на HTML, CSS, JS из макета с помощью сервиса Marsy.</p>
									</div>
								</div>
							</article>
							
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-web-1.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>WEB-ТЕХНОЛОГИИ: НАЧАЛЬНЫЙ УРОВЕНЬ</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Открыть веб-страницу" href="http://m1ev.pythonanywhere.com/projects/coffee_shop/index.html" target="_blank">
											<i class="material-icons">open_in_new</i>
										</a>
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="CSS файл" data-position="top" href="https://m1ev.pythonanywhere.com/projects/coffee_shop/main.css" target="_blank">
											<i class="material-icons">css</i>
										</a>			
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2169571" target="_blank">
											<i class="material-icons">school</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>WEB-ТЕХНОЛОГИИ: НАЧАЛЬНЫЙ УРОВЕНЬ</p>
											<i class="material-icons">close</i>
										</div>
										<p>Курс по основам HTML5, CSS3, JavaScript.	Выполнил проектное задание по вёрстке посадочной страницы с использованием технологии Flexbox по макету из Figma.</p>
									</div>
								</div>
							</article>										
						</article>
						
						<article id="portfolio-miscellaneous" class="row portfolio__page">
							<h3 class="visually-hidden">Работы по разработке на python / delphi</h3>
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-python-1.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>SIMPLE-VAD-PYTHON</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Ссылка на репозиторий" href="https://github.com/m1ev/simple-vad-python" target="_blank">
											<i class="material-icons">code</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">	
										<div class="card-title">
											<p>SIMPLE-VAD-PYTHON</p>
											<i class="material-icons">close</i>
										</div>
										<p>Программа для обнаружения голосовой активности во входном акустическом сигнале с графическим интерфейсом (PyQt5).</p>
									</div>
								</div>
							</article>
							
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-python-2.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>TURTLE GRAPHICS ASSESSMENT</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Ссылка на репозиторий" href="https://github.com/m1ev/IFB104-Building-IT-Systems-Turtle-Graphics-Assessment-Task-1B" target="_blank">
											<i class="material-icons">code</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">	
										<div class="card-title">
											<p>TURTLE GRAPHICS ASSESSMENT</p>
											<i class="material-icons">close</i>
										</div>
										<p>Одна из фриланс-работ, включающая задание на черепашью графику в Python.</p>
									</div>
								</div>
							</article>
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-python-3.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>FAST-LOGO-DETECTION</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Ссылка на репозиторий" href="https://github.com/m1ev/fast-logo-detection" target="_blank">
											<i class="material-icons">code</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">	
										<div class="card-title">
											<p>FAST-LOGO-DETECTION</p>
											<i class="material-icons">close</i>
										</div>
										<p>Python скрипт для обнаружения логотипов на изображениях одежды и других предметов (OpenCV).</p>
									</div>
								</div>
							</article>
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-python-4.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>SIMPLE-GEN-ART</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Ссылка на репозиторий" href="https://github.com/m1ev/simple-gen-art" target="_blank">
											<i class="material-icons">code</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>SIMPLE-GEN-ART</p>
											<i class="material-icons">close</i>
										</div>
										<p>Python скрипт для генерации изображений случайных эллиптических фигур в формате .png высокого разрешения с использованием библиотек Matplotlib, NumPy, scikit-learn и SciPy.</p>
									</div>
								</div>
							</article>
							<article class="card hoverable col s12 m6 l6 xl4">
								<div class="card-image waves-effect waves-blueish">
								  <img class="activator" src="img/portfolio-delphi-1.jpg" alt="Изображение портфолио-работы">
								</div>
								<div class="card-content">
									<div class="card-title">
										<h4>SSAS</h4>
										<i class="activator material-icons waves-effect waves-blueish">more_vert</i>
									</div>
									<div class="card-links">
										<a class="waves-effect waves-blueish tooltipped" data-tooltip="Ссылка на репозиторий" href="https://github.com/m1ev/SSAS" target="_blank">
											<i class="material-icons">code</i>
										</a>
									</div>
								</div>
								<div class="card-reveal">
									<div class="card-reveal__body">
										<div class="card-title">
											<p>SSAS</p>
											<i class="material-icons">close</i>
										</div>
										<p>Учебный проект для проведения анализа звуковых сигналов на Delphi, использующий библиотеки OpenGL и DirectX.</p>
									</div>
								</div>
							</article>
						</article>
						
						<article id="portfolio-courses" class="row">
							<h3 class="visually-hidden">Пройденные курсы по web-разработке</h3>
							<ul class="collapsible flow-text">
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons flow-text">web</i>HTML CSS JS</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2165644" target="_blank">
													<img class="responsive-img hoverable" src="img/portfolio-cert-1.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по основам web-разработки и создания сайтов.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">web</i>WEB-ТЕХНОЛОГИИ: НАЧАЛЬНЫЙ УРОВЕНЬ</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2169571" target="_blank">
													<img class="responsive-img hoverable" src="img/portfolio-cert-2.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по вёрстке посадочной страницы с использованием технологии Flexbox по макету из Figma.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">web</i>САЙТ НА WORDPRESS, ВЕРСТКА САЙТА И ПЕРЕНОС НА CMS</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2380937" target="_blank">
													<img class="responsive-img hoverable" src="img/portfolio-cert-3.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по верстке сайта на HTML, CSS, JS из макета с помощью сервиса Marsy.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">web</i>30 ЭЛЕМЕНТОВ САЙТА НА ПРИМЕРЕ MATERIALIZE CSS</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2460221" target="_blank">
													<img class="responsive-img hoverable" src="img/portfolio-cert-4.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по изучению фреймворка Materialize CSS.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">javascript</i>JAVASCRIPT ДЛЯ НАЧИНАЮЩИХ</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2177062" target="_blank">
													<img class="responsive-img hoverable" src="img/portfolio-cert-5.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по изучению основ программирования на JavaScript и подготовке к его практическому применению.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">javascript</i>ПОГРУЖЕНИЕ В JAVASCRIPT: ДЛЯ НАЧИНАЮЩИХ</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2448265" target="_blank">
													<img class="responsive-img z-depth-1 hoverable" src="img/portfolio-cert-6.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по основам программирования на JavaScript.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-symbols-outlined">database</i>ИНТЕРАКТИВНЫЙ ТРЕНАЖЁР ПО SQL</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Сертификат о завершении" href="https://stepik.org/cert/2161669" target="_blank">
													<img class="responsive-img z-depth-1 hoverable" src="img/portfolio-cert-7.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по основам создания баз данных и реализации запросов к ним на языке SQL.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">php</i>ОСНОВЫ PHP</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<a class="tooltipped" data-tooltip="Ссылка на личный кабинет hexlet" href="https://ru.hexlet.io/u/m1ev/courses" target="_blank">
													<img class="responsive-img z-depth-1 hoverable" src="img/portfolio-cert-8.jpg" alt="Изображение сертификата">
												</a>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Курс по основам языка PHP.</p>
											</div>
										</div>
									</div>
								</li>
								<li class="hoverable">
									<div class="collapsible-header"><i class="material-icons">smart_display</i>УРОКИ ПО GIT И GITHUB</div>
									<div class="collapsible-body">
										<div class="row">
											<div class="col s12 m6 l5 xl4">
												<div class="video-container">
													<iframe width="655" height="460" src="https://www.youtube.com/embed/videoseries?si=dr3VgFdIe5X-xafc&amp;controls=0&amp;list=PLuY6eeDuleIOMB2R_Kky05ZfiAx2_pbAH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
												</div>
											</div>
											<div class="col s12 m6 l7 xl8">
												<p class="blueish-text flow-text">Youtube-курс по основам работы с данной системой контроля версий.</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</article>		
					</div>
				</section>
			  
				<section id="contact" class="section valign-wrapper scrollspy">
						<div class="section">
							<div class="container blueish-text">
								<h2 class="header center blueish-text">Обратная связь</h2>
								<div class="row card-panel hoverable">
									<form action="{{ url_for('get_data') }}" method="post" name="form" target="output_frame" id="form">
										<div class="row">
											<div class="input-field col s12 m6">
												<i class="material-icons prefix">account_circle</i>
												<input type="text" name="name" id="name" data-length="30" class="blueish-text validate"><br>
												<label for="name">Имя</label>
												<span class="helper-text" data-error="Превышено допустимое кол-во символов"></span>
											</div>
											<div class="input-field col s12 m6 contact__form-item">	
												<i class="material-icons prefix">email</i>
												<input type="email" name="email" id="email" data-length="30" class="blueish-text validate"><br>
												<label for="email">Email</label>
												<span class="helper-text" data-error="Неверный адрес электронной почты"></span>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">edit</i>
												<textarea id="message" name="message" data-length="500" class="materialize-textarea blueish-text validate"></textarea>
												<label for="message">Ваше сообщение</label><br>
												<span class="helper-text" data-error="Превышено допустимое кол-во символов"></span>
											</div>
										</div>
										<a class="btn flow-text waves-effect waves-blueish disabled" id="submit">
											Отправить
											<i class="material-icons right">send</i>
										</a>
									</form>
									<iframe style="visibility: hidden;" name="output_frame" id="output_frame" width="0" height="0">
									</iframe>
								</div>
							</div>
						</div>
				</section>
			</main>
		</div>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<!-- User-defined scripts -->
		<script src="js/main.js"></script>
	</body>
</html>